@import './_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  padding-top: 1.3rem;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: $orange;

  .menu {
    a {
      color: #fff;
      display: inline-block;
      padding: 7px 10px;
      position: relative;
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }

  a {
    text-decoration: none;
    margin-left: 1rem;
  }
}

.section {
  margin: 0 auto;
  .indent {
    max-width: 95%;
    margin: 0 auto;
  }
}

.home {
  position: relative;

  .logo {
    font-size: 3rem;
    font-family: 'Londrina Outline', cursive;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 20vh;
    color: white;
    .center-img {
      flex: 1 0 calc(50% - 11.5rem);
      display: flex;
      justify-content: flex-end;
      margin-right: 1.5rem;
      img {
        filter: drop-shadow(2px 4px 6px black) contrast(1.1);
        border-radius: 50%;
      }
    }
    .center-text {
      flex: 1 0 calc(50% - 1rem);
    }
    #element {
      color: gray;
    }
  }
  .page-num {
    font-size: 3rem;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    color: white;
    font-family: 'Titan One', cursive;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .home-git {
      color: #d3d3d3;
    }

    .home-ln {
      color: #2867b2;
    }

    a {
      margin-right: 1.5rem;
      font-size: 1.7rem;
      transition: 0.2s all linear;

      &:hover {
        transform: translateY(-3px);
        opacity: 0.5;
      }
    }
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $orange;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  color: $orange;
}

// Profile

.profile {
  font-size: 1.5rem;
  position: relative;
  .page-num {
    font-size: 3rem;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    color: $orange;
    font-family: 'Titan One', cursive;
  }

  .profile-indent {
    max-width: 90%;
    margin: 0 auto;
  }
  .title {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
  }
  .profile-wrap {
    margin-top: 3rem;
    display: flex;
  }

  .profile-left {
    flex: 1 0 calc(50% - 1rem);
    margin-right: 2.5rem;
  }
  .profile-right {
    flex: 1 0 calc(50% - 1rem);
  }

  .company {
    .company-right {
      margin-left: 1.2rem;
    }
    background: #f5f5f5;
    display: flex;
    padding: 1.5rem;
    margin-top: 1rem;
    -webkit-box-shadow: 4px 3px 9px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 9px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 9px -4px rgba(0, 0, 0, 0.75);
  }
}
